body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size:14px;
}
:root{
    --main-color:rgb(241, 168, 32);
    --secondary-color:rgb(155, 154, 154);
}

header{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--secondary-color);
    box-shadow: 0 0 5px black;
}

header button {
    border:none;
    border-radius: 5px;
    padding:0.5rem;
    font-weight:600;
}

header button:hover{
    background-color: var(--main-color);
    font-weight: 800;
}

.book-shelf{
    display: grid;
    justify-content: center;
    align-items: center;
    padding:2rem;
    grid-template-columns: repeat(auto-fill,minmax(10rem,1fr));
    gap:1rem;
}

.book-card{
    border:5px solid var(--main-color);
    border-radius:0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    padding:1rem;
}

form{
  display: flex;
  flex-direction: column;
  gap:1rem;
}

form input[type=text],input[type=number]{
    width: 100%;
    padding:0.3rem 0.5rem;
    border-radius: 0.5rem;
    border:none;
    background-color:var(--main-color);
    box-sizing: border-box;
}
input[type=checkbox]{
    accent-color: var(--main-color);  
    }

form button{
    border:none;
    border-radius: 0.5rem;
    padding:0.5rem 0.7rem;
    font-weight: 600;
    }
.form-button{
    background-color: var(--main-color);
}
.close-form{
    background-color: var(--secondary-color);
}